//colors
$my-greyDark: #262626;
$my-greyMid: #58595b;
$my-greyPale: #dadada;
$my-brown-pale1: #f1eaea;
$my-brown-pale2: #d4d4db;
$my-blue: dodgerblue;
//all
body {
    font-family: "Sulphur Point", sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.header {
    overflow: hidden;
    background-color: $my-greyDark;
    padding: 0px 10px;
    img {
        max-height: 100px;
    }
    a:hover {
        background-color: $my-greyMid;
        color: black;
    }
    a.active {
        border-bottom: 10px $my-blue;
        background-color: $my-greyMid;
        color: white;
    }
    .header-right {
        width: 65%;
        padding-top: 20px;
        float: right;
        a {
            float: left;
            color: white;
            text-align: center;
            padding: 12px 10%;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
            max-width: 20%;
        }
    }
}

.gridContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    img {
        max-width: 250px;
    }
    .grid-item {
        font-size: 30px;
        display: flex;
        justify-content: center;
        font-weight: bold;
    }
}

section {
    display: flex;
    justify-content: center;
    div {
        display: flex;
        justify-content: center;
    }
    img {
        padding-top: 30px;
        max-width: 400px;
    }
    .texto {
        padding: 20px;
    }
    table {
        width: 80%;
        text-align: center;
        border-collapse: collapse;
        color: black;
        table-layout: fixed;
        -webkit-box-shadow: 12px 10px 18px -4px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 12px 10px 18px -4px rgba(0, 0, 0, 0.39);
        box-shadow: 12px 10px 18px -4px rgba(0, 0, 0, 0.39);
    }
    th {
        background-color: $my-greyDark;
        color: $my-greyPale;
    }
    th,
    td {
        padding: 20px;
    }
    tr:hover {
        background-color: $my-blue !important;
        color: $my-greyPale;
    }
    tr:nth-child(even) {
        background-color: $my-brown-pale1;
    }
    tr:nth-child(odd) {
        background-color: $my-brown-pale2;
    }
}

//Footer
footer {
    font-size: 12px;
    background-color: $my-greyDark;
    color: white;
    position: relative;
    bottom: 0px;
    width: 100%;
    #footerTop {
        justify-content: space-between;
        display: flex;
        #FAQ {
            li {
                list-style: none;
            }
            a {
                color: white;
                text-decoration: none;
            }
        }
        #socialMedia {
            padding-top: 20px;
            padding-right: 20px;
            padding-left: 10px;
            img {
                max-width: 40px;
            }
        }
    }
    #footerBot {
        text-align: center;
        padding-bottom: 2px;
    }
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */

@media screen and (max-width: 900px) {
    section {
        display: block;
        img {
            margin-left: 25%;
        }
        .text {
            font-size: 0.9em;
        }
    }
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 0%;
        margin-right: 0%;
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
        margin: none;
    }
    section {
        margin: none;
        display: block;
        img {
            padding-top: 5px;
            max-width: 200px;
        }
        .texto {
            padding: 10px;
            font-size: 0.8em;
        }
    }
    footer {
        #footerTop {
            display: flow-root;
            #FAQ {
                text-align: center;
                ul {
                    padding: 0px;
                }
            }
            #socialMedia {
                padding: 10px 0px;
                width: fit-content;
                margin: auto;
                img {
                    justify-content: space-between;
                    max-width: 50px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .header {
        img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        .header-right {
            float: none;
            margin: none;
            padding: none;
            display: block;
            padding-top: none;
            width: 100%;
        }
    }
}